<?xml version="1.0" encoding="UTF-8"?>
<CONFIG>
	<SOURSE>
		<CN>
			<HELP>
				<VM>
					<EXP>Grass-Mud-Horse的虚拟机</EXP>
					<USE>用法: GMH [-a] file</USE>
					<ARG>file
						必选参数，Grass-Mud-Horse或伪汇编的的文本文件（又称字符文件），由是否存在参数“-a”区分，Grass-Mud-Horse一般以".gmh"为扩展名
					</ARG>
					<CARG>-a 可选参数，无此参数表明参数file是Grass-Mud-Horse文件，有此参数表明是参数file是伪汇编文件
					</CARG>
				</VM>
				<CMP>
					<EXP>Grass-Mud-Horse的编译器，负责 Grass-Mud-Horse文本与伪汇编文本之间的相互转换</EXP>
					<USE>GMH [-d] file1 [file2]</USE>
					<ARG>file1 必选参数，要被转化的文本文件</ARG>
					<CARG>file2 可选参数，要转化成的文本文件名，默认为与参数file1同目录同文件名不同扩展名的文件，如果此文件存在将会被替换
					</CARG>
					<CARG>-d 可选参数，无此参数表明将 Grass-Mud-Horse文本转换为伪汇编文本，有此参数表明将伪汇编文本转换为
						Grass-Mud-Horse文本</CARG>
				</CMP>
			</HELP>
		</CN>
	</SOURSE>
	<VMARG HEAPMAX="65536">
		<S>33609</S>
		<T>27877</T>
		<L>39532</L>
	</VMARG>
	<CMD>
		<S>
			<S>S_PUSH</S>
			<T>
				<S>S_COPY</S>
				<L>S_SLIDE</L>
			</T>
			<L>
				<S>S_DUP</S>
				<T>S_SWAP</T>
				<L>S_POP</L>
			</L>
		</S>
		<T>
			<S>
				<S>
					<S>A_ADD</S>
					<T>A_SUB</T>
					<L>A_MUL</L>
				</S>
				<T>
					<S>A_DIV</S>
					<T>A_MOD</T>
				</T>
			</S>
			<T>
				<S>H_PUT</S>
				<T>H_GET</T>
			</T>
			<L>
				<S>
					<S>O_CHR</S>
					<T>O_INT</T>
				</S>
				<T>
					<S>I_CHR</S>
					<T>I_INT</T>
				</T>
			</L>
		</T>
		<L>
			<S>
				<S>F_MARK</S>
				<T>F_CALL</T>
				<L>F_JMP</L>
			</S>
			<T>
				<S>F_JZ</S>
				<T>F_JNEG</T>
				<L>F_RET</L>
			</T>
			<L>
				<L>F_END</L>
			</L>
		</L>
	</CMD>
</CONFIG>